*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: 1px solid black; */

}

body {
  background-color: #FFFAF0;
}



/* start nav */
.headerBar {
  display: flex;
  flex-direction: row;
  background-color: #FBC403;
  width: 100vw;

}

a {
  margin-left: 15px;
  text-decoration: none;
}


header {
  font-family: 'Alfa Slab One', cursive;
  padding-left: 10px;
  background-color: #FBC403;
  margin-bottom: -25px;
  margin-top: -22px;
  width: 100vw;
  padding-top: 5px;


}


#nav-bar{
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 15px;
  justify-content: end;
  font-size: 20px;
  text-decoration: none;
  outline: none;

}

@media (min-width: 550px) {
  nav > .fa-basketball {
     display: none;
   }

}
 @media (max-width: 550px) {
   .hidden--mobile {
     display: none;
   }

   #navigation {
    flex-direction: column;
     background-color: #FBC403;
     right: 0;
     top: 70px;
   }

 }


 .fas {
   margin-top: 10px;
   margin-bottom: 10px;
   position: absolute;
   top: 30px;
 }

 .fas:hover {
  cursor: pointer;
 }
/* end nav */

footer {
  font-size: 20px;
}


/* rank */
.playerHeads {
  height: 85px;
  width: 85px;
  border: 1px solid blue;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.placeHolder {
  border: 1px solid red;
  height: 85px;
  width: 85px;
}

.hide {
  opacity: .75;
}

.rankFeature {
  margin-top: 100px;
  margin-left: 500px;
}
/* end rank */

/* start home */


main, aside, footer {
  border: 1px solid black;
padding: 5px;
margin: 5px;
/* background-color: rgba(255, 0, 0, 30%); */
}

.posts {
  /* border: 1px red solid; */
  display: flex;
  flex-direction: column;
  margin: 1rem;
  padding: 1rem;
  border-radius:  20px ;
  box-shadow: 3px 3px 3px 3px grey;
  background-color: white;
   max-width: 322px;
  max-height: 430px;
  justify-content: center;

}

.blog {
  display: grid;
  height: 100vh;

  overflow: scroll;
  grid-template-columns: 1fr;
  grid-template-areas: "main"
                        "sidebar";
}

@media (min-width: 550px) {
  .blog { grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "main main main sidebar"
                          "main main main sidebar";}
}

.postImage {
  max-height: 300px;
  max-width: 300px;
  align-items: center;
  border-radius: 20px 20px 0 0;


}

main {
  grid-area: main;
}

aside {
  grid-area: sidebar;
}

footer {
  grid-area: footer;
}

.trending {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* end Home */

/* start compare */
input {
  display: block;
  border-radius: 0 15px 15px 0;
  margin: 0 auto;
}

table {
  border-radius: 0 15px 15px 0;
  height: 50vh;
  width: 30vw;
  border: 1px solid black;
}
.playerOne, .playerTwo {
  margin: 0 auto;
}

.comparePlayers {
  display: flex;
}

table, th, td {
  border: 1px solid;
}

/* end Compare */

.articles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: auto;
  flex: 1;
  min-height: 0;

}

@media (max-width: 700px) {
  .blog {
    height: 100%;
  }
}
