*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: 1px solid black; */

}

body {
  background-color: #FFFAF0;
}



/* start nav */
.headerBar {
  display: flex;
  flex-direction: row;
  background-color: #FBC403;
  width: 100vw;

}

a {
  margin-left: 15px;
  text-decoration: none;
  border: 1px solid black;
  border-radius: 20px;
  padding: 5px;
  box-shadow: 1px 1px 1px 1px black;
  color: black;

}


header {
  font-family: 'Alfa Slab One', cursive;
  padding-left: 10px;
  background-color: #FBC403;
  margin-bottom: -25px;
  margin-top: -22px;
  width: 100vw;
  padding-top: 10px;


}


#nav-bar{
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 15px;
  justify-content: end;
  font-size: 20px;
  text-decoration: none;
  outline: none;

}

@media (min-width: 550px) {
  nav > .fa-basketball {
     display: none;
   }

}
 @media (max-width: 550px) {
   .hidden--mobile {
     display: none;
   }

   #navigation {
    flex-direction: column;
     /* background-color: #FBC403; */
     right: 0;
     top: 70px;

   }

 }

 .fas {
   position: absolute;
   top: 30px;
 }

 .fas:hover {
  cursor: pointer;
 }

 a:hover {
  cursor: pointer;
 }
/* end nav */

footer {
  font-size: 20px;
}


/* rank */
#playerSpace {
  border: 1px solid red;
  overflow: auto;
  width: 60vw;
  height: 90vh;
  margin-left: 15px;
  border-radius: 10px;
  padding: 10px;

}

#rankSearch {
margin: 0 auto;
margin-bottom: 10px;
margin-top: 10px;
border-radius: 10px;
height: 5vh;
width: 25vw;

}

.playerIcons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}

#search1, #search2 {
  height: 5vh;
  width: 15vw;
  margin-top: 20px;
  margin-bottom: 20px;

}


#div1, .playerDrag {
  border: 1px solid black;
  height: 100px;
  width: 100px;

}

.playerDrag {
  display: list-item;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.placeHolder {
  border: 1px solid red;
  height: 85px;
  width: 85px;
}

.hide {
  opacity: .75;
}

.rankContent {
  display: flex;
  flex-direction: column;

}

.rankContent {
  display: flex;
  flex-direction: row;
  padding: 10px;
  margin: 10px;
}

#rankSpace {
  border: 1px solid black;
  height: 100px;
  width: 100px;


}

.playerSpace {
  border: 1px solid black;
  height: 90vh;
  width: 60vw;
}

.dragEnter {
  border: 2px dashed #000;
}


.rankZones {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 15px;



}
/* end rank */

/* start home */


main, aside, footer {
  /* border: 1px solid black; */
padding: 5px;
margin: 5px;
}

.posts {
  /* border: 1px red solid; */
  display: flex;
  flex-direction: column;
  margin: 1.5rem;
  padding: 1rem;
  border-radius:  20px ;
  box-shadow: 3px 3px 3px 3px grey;
  background-color: white;
   max-width: 300px;
  max-height: 430px;


}

.blog {
  display: grid;
  height: 100vh;

  overflow: scroll;
  grid-template-columns: 1fr;
  grid-template-areas: "main"
                        "sidebar";
}

@media (min-width: 550px) {
  .blog { grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "main main main sidebar"
                          "main main main sidebar";}
}

.postImage {
  max-height: 300px;
  max-width: 300px;
  border-radius: 20px 20px 0 0;



}

main {
  grid-area: main;
}

aside {
  grid-area: sidebar;
}

footer {
  grid-area: footer;
}

.trending {
  display: flex;
  flex-direction: column;
  justify-content:flex-start;

}

.trending > div {
  /* border: 1px solid black; */

  width: 100%;
}


/* end Home */

/* start compare */
input {
  display: block;
  border-radius: 0 15px 15px 0;
  margin: 0 auto;
}

#table1 {
  border-radius: 0 15px 15px 0;
  height: 75vh;
  width: 30vw;
  border: 1px solid black;

}

#table1 th, #table1 td {
  border-radius: 0 15px 15px 0;
}

#table2 {
  border-radius: 15px 0 0 15px;
  height: 75vh;
  width: 30vw;
  border: 1px solid black;
}

#table2 th, #table2 td {
  border-radius: 15px 0 0 15px;
}

.playerSearchInput {
  height: 35px;
  width: 30vw;
  margin-bottom: 10px;

}

.selectYear {
  margin-bottom: 10px;
}


.playerOne, .playerTwo, #submit1 {
  margin: 0 auto;
  margin-top: 35px;
}

.comparePlayers {
  display: flex;
  margin-bottom: 100px;
}

table, th, td {
  border: 1px solid;
}



/* end Compare */

.articles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: auto;
  flex: 1;
  min-height: 0;

}

@media (max-width: 700px) {
  .blog {
    height: 100%;
  }
}

